In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf
from datetime import datetime

# 1.Data Collection

In [45]:
now = datetime.now()

ticker = 'AAPL'
end = now
start = datetime(now.year-10, now.month, now.day)
df = yf.download(ticker, start, end, auto_adjust=False)
df

[*********************100%***********************]  1 of 1 completed

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL
Date,,,,,,
2015-07-09,26.891701,30.017500,31.014999,29.805000,30.962500,314380000
2015-07-10,27.610630,30.820000,30.962500,30.302500,30.485001,245418000
2015-07-13,28.143669,31.415001,31.440001,31.080000,31.257500,165762000
2015-07-14,28.132469,31.402500,31.592501,31.260000,31.510000,127072400
2015-07-15,28.403477,31.705000,31.787500,31.395000,31.430000,134596800
...,...,...,...,...,...,...
2025-07-02,212.440002,212.440002,213.339996,208.139999,208.910004,67941800
2025-07-03,213.550003,213.550003,214.649994,211.809998,212.149994,34955800
2025-07-07,209.949997,209.949997,216.229996,208.800003,212.679993,50229000
2025-07-08,210.009995,210.009995,211.429993,208.449997,210.100006,42780600
2025-07-09,209.249893,209.249893,210.899994,207.220001,209.529999,27526853